@charset "utf-8";
/* CSS Document */

* {
		margin:0;
		padding:0; /*defaults margin of html*/
		text-align: center;
}
.rotate{
-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	
}
html{
	background-color: #efeee7;
}

hr {
color: #123455;
width: 100%;
vertical-align: middle;
}

header {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  background: white;
box-shadow: 0 4px 5px black;
}

h1{
	background: cadetblue;
	display: inline-block;
	float: left;
	margin-left: 100px;
	margin-top: -38px; 
	padding: 22px;
	padding-top: -10px;
	color: white;
	font-size: 1.5em;

}
h2{
	
	display: inline-block;
	float: left;
	padding-left: 8%;
	padding-top: 8%;
	font-size: 2em;

}

.container {
width: 855px;
height: 495px;
margin: 40px;
margin-left: 100px;
background: white;
float: left;

}
.contact{
	background: white;
	display: inline-block;
	margin: 50px;
	margin-left: -25px;
	width: 204px;
	height: 147px;
	
}

#main-bio{
	width: 80%;
	line-height: 35px;
	font-size: 1em;
	float: left;

	
}
	
#bio-image{
		  margin-right: 20px;
		margin:50px auto;
		float: left;
		
	}

#links{
	float: right;
	font-size: 18px;
	color: dimgray;
	margin-right: 189px;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	
	
}
#footer{
	clear: both;
	padding: 20px 0;
  	margin-top: 318px;
	background: gray;
	color: white;
	border-top: solid thick cadetblue;
	
}